---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialStack from "../components/SocialStack.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/Section.astro";
import Projects from "../components/Projects.astro";

import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import GmailIcon from "../components/icons/Gmail.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout
  title="cmendoza Portfolio - Backend Developer"
  description="Backend Developer and Systems Engineer. Originally from Bogota, Colombia. I specialize in creating Web Solutions."
>
  <main>
    <SectionContainer class="py-36 sm:py-24 md:py-36" id="home">
      <img
        class="rounded-full size-12 mb-4"
        src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg"
        alt="cmendozadev icon"
      />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-8">
        Hey, I'm cmendoza
        <div class="flex justify-center items-center">
          <Badge>Available to work</Badge>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl text-pretty max-w-[700px]">
        <span class="text-white/80">+1 year of experience.</span>
        <span class="text-violet-200/90"
          >Backend Developer and Systems Engineer.
        </span>
        <span class="text-red-200/90">Originally from Bogota, Colombia.</span>
        <span class="text-white/80">I specialize in creating Web Solutions.</span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialStack
          href="https://www.linkedin.com/in/carlos-andr%C3%A9s-mendoza-g%C3%B3mez-149594204/"
        >
          <LinkedInIcon class="size-4 md:size-6" /> LinkedIn
        </SocialStack>
        <SocialStack href="https://github.com/AndresMGdev">
          <GithubIcon class="size-4 md:size-6" /> Github
        </SocialStack>
        <SocialStack href="mailto:cmendoza022002@gmail.com">
          <GmailIcon class="size-4 md:size-6" /> cmendoza022002@gmail.com
        </SocialStack>
      </nav>
    </SectionContainer>
    <SectionContainer class="py-24" id="experience">
      <h2 class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" /> 
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer class="py-24" id="projects">
      <h2 class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" /> 
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
