---
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/Section.astro";
import Projects from "../components/Projects.astro";

import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import FolderOpen from "../components/icons/FolderOpen.astro";
import Skills from "../components/Skills.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Mendev Portfolio - Backend Developer"
  description="Backend Developer and Systems Engineer. Originally from Bogota, Colombia. I specialize in creating Web Solutions."
>
  <main>
    <SectionContainer class="py-20" id="home">
      <Hero />
    </SectionContainer>
    <SectionContainer class="py-24" id="experience">
      <h2
        class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-[#1c0b2b] dark:text-white"
      >
        <BriefcaseIcon class="size-7" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer class="py-24">
      <h2
        class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-[#1c0b2b] dark:text-white"
      >
        <CodeIcon class="size-7" />
        Skills
      </h2>
      <Skills />
    </SectionContainer>
    <SectionContainer class="py-24" id="projects">
      <h2
        class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-[#1c0b2b] dark:text-white"
      >
        <FolderOpen class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
