---
import SocialStack from "../components/SocialStack.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
---

<div
  class="container mx-auto px-6 text-center text-[#1c0b2b]/90 dark:text-gray-200"
>
  <h2 class="text-4xl font-semibold mb-6 text-orange-400 dark:text-yellow-200">
    About Me
  </h2>
  <p class="text-lg mb-6">
    I am a developer passionate about technology and innovation. I love creating
    interactive, high-performance web applications, and I am constantly striving
    to learn new technologies and improve my skills. Throughout my career, I
    have worked with various tools like React, JavaScript, Java, and Spring,
    which has allowed me to develop complex and effective projects.
  </p>
  <p class="text-lg mb-6">
    I am always looking for new challenges that allow me to grow professionally
    and provide creative solutions in the field of software development. My
    focus is on writing clean and optimized code, and working collaboratively in
    agile teams.
  </p>

  <div class="flex justify-center gap-4 mt-6">
    <SocialStack href="https://github.com/cmendev">
      <GithubIcon class="size-6" />
    </SocialStack>
    <SocialStack href="https://www.linkedin.com/in/mendev">
      <LinkedInIcon class="size-6" />
    </SocialStack>
  </div>
</div>
