---
import SocialStack from "../components/SocialStack.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
---

<div
  class="container mx-auto px-6 text-center sm:text-left text-[#1c0b2b]/90 dark:text-gray-200"
>
  <h2 class="text-4xl font-semibold mb-6 text-orange-400 dark:text-yellow-200 text-center">
    Sobre Mí
  </h2>
  <p class="text-lg mb-6 text-justify leading-relaxed">
    Soy un desarrollador apasionado por la tecnología y la innovación. Me encanta crear
    aplicaciones web interactivas y de alto rendimiento, y estoy en constante aprendizaje 
    de nuevas tecnologías para mejorar mis habilidades. A lo largo de mi carrera, he 
    trabajado con herramientas como React, JavaScript, Java y Spring, lo que me ha permitido 
    desarrollar proyectos complejos y efectivos.
  </p>
  <p class="text-lg mb-6 text-justify leading-relaxed">
    Siempre estoy en búsqueda de nuevos desafíos que me permitan crecer profesionalmente 
    y aportar soluciones creativas en el desarrollo de software. Mi enfoque se centra en 
    escribir código limpio y optimizado, además de trabajar colaborativamente en equipos ágiles.
  </p>

  <div class="flex justify-center sm:justify-start gap-4 mt-6">
    <SocialStack href="https://www.linkedin.com/in/mendev">
      <LinkedInIcon class="size-6" />
    </SocialStack>
    <SocialStack href="https://github.com/cmendev">
      <GithubIcon class="size-6" />
    </SocialStack>
  </div>
</div>
