---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'May 2022 - October 2023',
        title: 'Fullstack web application created with Laravel',
        description: '---',
        link: '#'
    },
    {
        date: 'May 2022 - October 2022',
        title: 'Fullstack web application created with Laravel',
        description: 'I developed web solutions improving an old company product, thus managing to migrate all functions and add better features to the product.',
        link: '#'
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">      
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience} />
            </li>
        ))
    }            
</ol>

