---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'Julio 2024 - Diciembre 2024',
        title: 'Programador PL/SQL',
        company: 'Sonda de Colombia S.A',
        description: 'Desarrollé soluciones utilizando PL/SQL, SQL Developer y Oracle APEX, optimizando procesos empresariales.',
        link: '#'
    },
    {
        date: 'Septiembre 2023 - Diciembre 2023',
        title: 'Agente de Soporte',
        company: 'Thomas Greg & Sons',
        description: 'Brindé soporte técnico remoto, resolviendo casos abiertos y capacitando operarios para prevenir futuros inconvenientes.',
        link: '#'
    },
    {
        date: 'Mayo 2022 - Octubre 2022',
        title: 'Programador Junior',
        company: 'Sentecol S.A.S',
        description: 'Implementé y optimicé soluciones de software en el área de salud, mejorando procesos con PHP, Laravel y Javascript.',
        link: '#'
    }
];
---

<ul class="border-s border-gray-200 ml-3.5">      
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience} />
            </li>
        ))
    }            
</ul>

