---
import ExperienceItem from "./ExperienceItem.astro";

import { EXPERIENCE } from "../data/experience";
---

<ul class="border-s border-[#1c0b2b]/20 dark:border-gray-200 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ul>
