---


export const MENU = [
  {
    name: "Home",
    tag: "/",
  },
  {
    name: "Experience",
    tag: "#experience",
  },
  {
    name: "Projects",
    tag: "#projects",
  },
  {
    name: "About",
    tag: "/about",
  },
  {
    name: "Contact",
    tag: "/contact",
  },
];
---

<nav
  class="fixed sm:static md:flex md:justify-center md:items-center max-sm:w-[100%]"
>
  <div
    class="flex flex-wrap items-center lg:justify-center sm:justify-between mx-auto sm:w-[480px] md:w-[600px] lg:w-[740px] p-4"
  >
    <button
      id="menu"
      aria-label="toggle menu"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg sm:hidden"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      class="hidden border border-white/5 rounded-lg w-full sm:block md:w-auto max-sm:backdrop-blur-lg z-50 max-sm:h-[30%] max-sm:w-[100%]"
      id="menu-toggle"
    >
      <ul
        class="font-medium flex flex-col sm:flex-row sm:justify-around items-center md:space-x-8 rtl:space-x-reverse max-sm:text-white"
      >
        {
          MENU.map((menu) => (
            <li class="m-0">
              <a
                href={menu.tag}
                class="block py-2 px-3 hover:text-sky-200/90"
                aria-current="page"
              >
                {menu.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
